[submodule "nvim"]
	path = vim/.config/nvim
	url = https://github.com/qtgiebel/nvim-config
[submodule "tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/dracula/tmux
[submodule "tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
